.thumbnail img {
    max-height: 250px;

}

/*.cat div {*/
    /*margin-left: 15px;*/
/*}*/

.cat div {
    width: 150px;
    height: 250px;
}

.add-to-basket div {
    height: 30px;
    width: 50px;
}