.test {
    width: 25%;
}


.price {
    font-weight: bold;
    font-size: 16px;
}

.book_info {
    width: 50%;
    height: 90px;
}

.book_info1 {
    width: 50%;
}

.book_info2 {
    width: 25%;
    display: inline-block;
}

.book_info3 {
    width: 20%;
    display: inline-block;
}

.rating-size {
    width: 25%;
    height: 90px;
}

.posted-size {
    font-size: 110%;
    color: black;
}

.label-comment {
    color: black;
}

.rating {
    background: #ebccd1;
    max-width: 120px;
}

.hr {
    border-color: black;
}

.my-btn {
    background: grey;
    color: white;
}

.my-span {
    font-weight: bold;
}

.my-btn2 {
    width: 33%;
    display:inline;
    float: left;
}